Repository konstellation-io/kdl-server, pull requests merged in 2021-03, with the labels that each got.

#170 feat: Create styles for the KG items list
  app/ui/src/Pages/Project/pages/KG/components/KGVisualization/KGVisualization.module.scss
  app/ui/src/Pages/Project/pages/KG/components/ListPanel/ListPanel.module.scss
  app/ui/src/Pages/Project/pages/KG/components/ListPanel/ListPanel.tsx
  app/ui/src/Pages/Project/pages/KG/components/ListPanel/components/KGItem/KGItem.module.scss
  app/ui/src/Pages/Project/pages/KG/components/ListPanel/components/KGItem/KGItem.tsx
  app/ui/src/Pages/Project/pages/KG/components/ListPanel/components/TabAll/TabAll.module.scss
  app/ui/src/Pages/Project/pages/KG/components/ListPanel/components/TabAll/TabAll.tsx
  app/ui/src/Pages/Project/pages/KG/components/ListPanel/components/TabStarred/TabStarred.tsx
Labels: app-ui

#176 feat: Now you can navigate to server users and project from the server crumb
  app/ui/src/Components/SiteBar/components/Breadcrumbs/useBreadcrumbs.tsx
  app/ui/src/Components/SiteBar/components/NavigationSelector/NavigationSelector.module.scss
  app/ui/src/Components/SiteBar/components/NavigationSelector/NavigationSelector.test.tsx
  app/ui/src/Components/SiteBar/components/NavigationSelector/NavigationSelector.tsx
  app/ui/src/Components/SiteBar/components/NavigationSelector/__snapshots__/SectionSelector.test.tsx.snap
  app/ui/src/Components/SiteBar/components/NavigationSelector/components/NavListItem/NavListItem.module.scss
  app/ui/src/Components/SiteBar/components/NavigationSelector/components/NavListItem/NavListItem.tsx
  app/ui/src/Components/SiteBar/components/SectionSelector/SectionSelector.tsx
  app/ui/src/Components/SiteBar/components/ServerMetrics/MetricChart.tsx
  app/ui/src/Components/SiteBar/components/ServerMetrics/ServerMetrics.module.scss
  app/ui/src/Components/SiteBar/components/ServerMetrics/ServerMetrics.tsx
Labels: app-ui

#182 use the user name slug as name for ssh keys secrets
  app/api/entity/user.go
  app/api/usecase/user/interactor.go
  app/api/usecase/user/interactor_test.go
Labels: app-api, bug, infrastructure

#186 update project name and description
  app/api/infrastructure/graph/generated/generated.go
  app/api/infrastructure/graph/model/models_gen.go
  app/api/infrastructure/graph/schema.graphqls
  app/api/infrastructure/graph/schema.resolvers.go
  app/api/infrastructure/repository/project.go
  app/api/usecase/project/interactor.go
  app/api/usecase/project/interactor_members.go
  app/api/usecase/project/interactor_test.go
  app/api/usecase/project/interface.go
  app/api/usecase/project/mocks_interface.go
  app/ui/package.json
Labels: app-api

#195 feat: The max number of chars allowed in description text area is now 100000
  app/ui/src/Pages/NewProject/pages/Information/InformationUtils.ts
Labels: app-ui

#214 fix: Rename Knowledge Graph to Knowledge Galaxy
  app/ui/src/Components/DescriptionScore/DescriptionScoreUtils.ts
  app/ui/src/Constants/routes.ts
  app/ui/src/Hooks/useProjectNavigation.tsx
  app/ui/src/Pages/Project/panels/UpdateProjectDescription/UpdateProjectDescription.tsx
Labels: app-ui

#217 fix: Now you can scroll and see all the content.
  app/ui/src/Pages/NewProject/NewProject.module.scss
  app/ui/src/Pages/NewProject/pages/Information/Information.module.scss
  app/ui/src/Pages/NewProject/pages/Information/Information.tsx
  app/ui/src/Pages/NewProject/pages/Summary/Summary.module.scss
  app/ui/src/Pages/NewProject/pages/Summary/Summary.tsx
  app/ui/src/Pages/Project/Project.module.scss
  app/ui/src/Pages/Project/panels/ProjectSettings/components/TabDangerZone/TabDangerZone.module.scss
  app/ui/src/Pages/Project/panels/ProjectSettings/components/TabMembers/TabMembers.module.scss
  app/ui/src/Pages/Project/panels/ProjectSettings/components/TabMembers/TabMembers.tsx
Labels: app-ui, bug

#222 fix: Hide the active from if the last activation date is null
  app/ui/src/Pages/Project/panels/ProjectSettings/components/ProjectInfo/ProjectInfo.tsx
Labels: app-ui, bug

#231 feat: Now you can open the member details simply clicking on a line
  app/ui/src/Pages/Project/panels/ProjectSettings/components/TabMembers/components/Member/Member.module.scss
  app/ui/src/Pages/Project/panels/ProjectSettings/components/TabMembers/components/Member/Member.tsx
Labels: app-ui

#193 Feat/add warning msg when stop tools
  app/ui/src/Components/Layout/ConfirmAction/ConfirmAction.tsx
  app/ui/src/Pages/Project/ProjectContentRoutes.tsx
  app/ui/src/Pages/Project/components/ProjectNavigation/components/NavElements/NavElements.module.scss
  app/ui/src/Pages/Project/components/ProjectNavigation/components/NavElements/NavElements.tsx
  app/ui/src/Pages/UserApiToken/components/token/Token.tsx
Labels: app-ui

#266 Feat/remove log git
  app/ui/src/Pages/Project/panels/ProjectSettings/components/TabGit/TabGit.module.scss
  app/ui/src/Pages/Project/panels/ProjectSettings/components/TabGit/TabGit.tsx
Labels: app-ui

#267 fix: Now you can scroll the abstract of a KG resource
  app/ui/src/Pages/Project/pages/KG/components/ResourceDetails/ResourceDetails.module.scss
Labels: bug

#268 feat: Remove delete box from danger zone
  app/ui/src/Pages/Project/panels/ProjectSettings/components/TabDangerZone/TabDangerZone.module.scss
  app/ui/src/Pages/Project/panels/ProjectSettings/components/TabDangerZone/TabDangerZone.tsx
Labels: app-ui

#269 feat: Remove global search from the site bar
  app/ui/src/Components/SiteBar/SiteBar.module.scss
  app/ui/src/Components/SiteBar/SiteBar.tsx
Labels: app-ui

#180 Feat/description quality
  app/api/infrastructure/graph/schema.resolvers.go
  app/api/infrastructure/kgservice/interface.go
  app/api/infrastructure/kgservice/mocks_interface.go
  app/api/infrastructure/kgservice/proto/knowledge_graph.pb.go
  app/api/infrastructure/kgservice/proto/knowledge_graph_grpc.pb.go
  app/api/infrastructure/kgservice/service.go
  app/api/usecase/kg/interactor.go
  app/api/usecase/kg/interactor_test.go
  app/api/usecase/kg/interface.go
  app/api/usecase/kg/mocks_interface.go
  kg/proto/knowledge_graph.proto
  kg/server/app.py
  kg/server/config.py
  kg/server/description_evaluator.py
  kg/server/proto/knowledge_graph_pb2.py
  kg/server/proto/knowledge_graph_pb2.pyi
  kg/server/proto/knowledge_graph_pb2_grpc.py
  kg/server/proto/knowledge_graph_pb2_grpc.pyi
  kg/tests/server/integration/test_app.py
  kg/tests/server/integration/test_description_evaluator_integrated.py
  kg/tests/server/unit/test_description_evaluator.py
Labels: knowledge-graph

#277 Fix/kg batch size issue
  kg/pipe/compute_vectors.py
  kg/server/recommender.py
  kg/tests/conftest.py
  kg/tests/pipe/integration/test_compute_vectors_int.py
  kg/tests/pipe/unit/test_compute_vectors.py
  kg/tests/test_pipe_server.py
Labels: knowledge-graph, tech debt

#278 Feat/show prompt when leave project creation
  app/ui/src/App.tsx
  app/ui/src/Graphql/client/cache.tsx
  app/ui/src/Hooks/useUnloadPrompt/useUnloadPrompt.ts
  app/ui/src/Pages/NewProject/NewProject.tsx
Labels: app-ui

#281 feat: Remove api token page
  app/ui/src/App.tsx
  app/ui/src/Components/SettingsMenu/SettingsMenu.tsx
Labels: app-ui
