Repository konstellation-io/kdl-server, pull requests merged in 2021-02, with the labels that each got.

#37 fix: Update graphql endpoint url
  app/ui/src/Pages/Home/Home.tsx
Labels: admin-ui

#47 feat: Add description score to the create new project page.
  app/ui/mock-server/src/mock.js
  app/ui/package.json
  app/ui/src/Graphql/queries/getQualityProjectDesc.graphql
  app/ui/src/Graphql/queries/types/GetQualityProjectDesc.ts
  app/ui/src/Pages/NewProject/pages/Information/Information.tsx
  app/ui/src/Pages/NewProject/pages/Information/components/DescriptionScore/DescriptionScore.module.scss
  app/ui/src/Pages/NewProject/pages/Information/components/DescriptionScore/DescriptionScore.tsx
  app/ui/src/Pages/NewProject/pages/Information/components/DescriptionScore/DescriptionScoreUtils.ts
  app/ui/yarn.lock
Labels: admin-ui

#97 fix: Overlapping the thumbs does not hide the percentage anymore
  app/ui/src/Pages/Project/pages/KG/components/Filters/components/ScoreFilter/ScoreFilter.tsx
  app/ui/src/Pages/Project/pages/KG/components/Filters/components/ScoreFilter/components/Thumb/Thumb.module.scss
Labels: app-ui

#130 feat: Move tools to the left menu bar
  app/ui/src/Components/Icons/DroneIcon/DroneIcon.tsx
  app/ui/src/Components/Icons/GiteaIcon/GiteaIcon.tsx
  app/ui/src/Components/Icons/JupyterIcon/JupyterIcon.tsx
  app/ui/src/Components/Icons/MinioIcon/MinioIcon.tsx
  app/ui/src/Components/Icons/VSIcon/VSIcon.tsx
  app/ui/src/Constants/routes.ts
  app/ui/src/Graphql/client/cache.tsx
  app/ui/src/Graphql/client/hooks/useBrowserWindows.ts
  app/ui/src/Graphql/client/hooks/useOpenedProject.ts
  app/ui/src/Graphql/client/hooks/useTools.ts
  app/ui/src/Graphql/client/models/BrowserWindow.ts
  app/ui/src/Graphql/client/queries/getBrowserWindows.graphql.ts
  app/ui/src/Graphql/client/queries/getOpenedProject.graphql.ts
  app/ui/src/Graphql/hooks/useTool.ts
  app/ui/src/Graphql/queries/getProjects.graphql
  app/ui/src/Graphql/queries/types/GetProjects.ts
  app/ui/src/Hooks/useProjectNavigation.tsx
  app/ui/src/Pages/Project/Project.tsx
  app/ui/src/Pages/Project/ProjectContentRoutes.tsx
  app/ui/src/Pages/Project/components/ProjectToolsRoutes/ProjectToolsRoutes.tsx
  app/ui/src/Pages/Project/pages/Tools/ToolGroup.tsx
  app/ui/src/Pages/Project/pages/Tools/Tools.module.scss
  app/ui/src/Pages/Project/pages/Tools/Tools.tsx
  app/ui/src/Pages/Project/pages/Tools/components/Tool/Tool.module.scss
  app/ui/src/Pages/Project/pages/Tools/components/Tool/Tool.tsx
  app/ui/src/Pages/Project/pages/Tools/components/TopBar/TopBar.tsx
  app/ui/src/Pages/Project/pages/Tools/config.ts
  app/ui/src/Pages/Project/pages/Tools/img/drone.png
  app/ui/src/Pages/Project/pages/Tools/img/gitea.png
  app/ui/src/Pages/Project/pages/Tools/img/jupyter.png
  app/ui/src/Pages/Project/pages/Tools/img/minio.png
  app/ui/src/Pages/Project/pages/Tools/img/mlflow.png
  app/ui/src/Pages/Project/pages/Tools/img/vscode.png
  app/ui/src/Pages/Project/pages/Tools/mappingFunctions.ts
Labels: app-ui

#132 Fix UI quality check execution condition to watch for app/ui files.
  .github/workflows/kdl-server-app-ui-quality.yml
Labels: app-ui, bug, infrastructure
